@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 0px;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.topheader_container {
    background-color: #f4f4f4;
    height: 40px;
    padding: 0px;
    /* margin-left: 40px;
    margin-right: 40px;
}

.container {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 40px;

}

.details {
    overflow: hidden;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10%;
}

.details a {
    padding-right: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #707070;
    font-size: 12px;
    text-decoration: none;
}

.details i {
    padding: 0px 10px;
}

.socialmedia {
    margin-right: 15%;
}

.socialmedia i {
    font-size: 12px;
    padding: 0px 5px;
    color: #707070;
}

#navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 100px;
    z-index: 9999;
    border: 2px solid #00Aeef;

    /* box-shadow: 0px 1px 2px #888888;
    /* margin: 0px 20px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

/* #navbar{
    margin-left: 40px;
    text-decoration: none;
    color: #707070;
    font-size: 20px;
} 



.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    /* border: 2px solid #089b65;
}


.menu > li {
    margin: 0px;
    display: inline-block;
    border: 2px solid #00Aeef;

}

.menu > li > a {
    font-family: 'Montserrat', sans-serif;
    color: #232323;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    padding: 15px 5px;
    text-decoration: none;
}

.bookbutton {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 10px 2%;
    background-color: #00Aeef;
    border-radius: 2px;
    font-size: 12px;
    color: white;
    font-weight: 600;
    margin-right: 10%;
    text-decoration: none;
    transition-duration: 0.4s;
    border: 2px solid #00Aeef;
}

.bookbutton:hover {
    color: #00Aeef;
    background-color: white;
} */





/* .contact-caption > h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 32px;
    line-height: 2;
    font-weight: 900;
} */



/* .content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    color:#fff;
    margin : 0px;
    text-align: center;
    display: table-cell;

} */




/* .container>a{
    font-family: 'Montserrat', sans-serif;
    color: #707070;
} */





/* .fa-location-dot{
    color: #55acee;
} */

/* .fa-location-dot{
    color: #55acee;
} */
/* .topheader_container #container{
    margin-left: 80px;
    margin-right: 80px;
}
.topheader_container  #container .fa-location-dot{
    color: #55acee;
}

.topheader_container > #container > span > a{
    font-family: 'Montserrat', sans-serif;
    color: #707070;
} */



/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} /* variables*/
.hamb{
    display: none;
}





.slideshow{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 90vh;
    /* width: 100vw;
    height: 50vh;
    border: 4px solid #00Aeef; */
}

.slides {
    width: 100vw;
    height: 90vh;
    background-image: url(/lunar/img/assets/Screenshot\ 2023-06-01\ at\ 12.35.02\ AM.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


    /* background-size: cover;
    background-position: center;
    display: table;
    opacity: 0.5;
    background-attachment: fixed; */
}

.caption {
    display: flex;
    position: absolute;
    /* font-family: 'Montserrat', sans-serif; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 7% 7%;
    /* width: 80vw;
    height: 80vh;
    font-size: 72px;
    color: #555;
    font-weight: 1000;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.65px;
    display: flex;
    position:absolute;
    justify-content: center;
    align-items: center; */

}

.heading {
    /* width: 500px;
    height: 900px; */
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 2% 10%;
    font-size: 54px;
    font-weight: 900;
}

.subheading {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 4% 8%;
    font-size: 22px;
    line-height: 2;
    font-weight: 100;
}

.bookbutton {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 10px 2%;
    background-color: #00Aeef;
    border-radius: 2px;
    font-size: 12px;
    color: white;
    font-weight: 600;
    margin-right: 10%;
    text-decoration: none;
    transition-duration: 0.4s;
    border: 2px solid #00Aeef;
}

.bookbutton:hover {
    color: #00Aeef;
    background-color: white;
}



.about-area {
    position: relative;
    width: 100vw;
    height: 90vh;
}

.about-area-container {
    position: absolute;
    margin: 6% 0;
    margin-left: 10%;
    width: 55%;
}

.about {
    font-family: 'Montserrat', sans-serif;
}

.about>h1 {
    padding: 20px 0;
    font-weight: 900;
    font-size: 34px;
    color: #09151a;
}

.about-text {
    margin: 5% 0;
}

.skill {
    padding: 15px 0;
    font-family: 'Montserrat', sans-serif;
}

.singleskill {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.singleskill>h6 {
    font-weight: 600;
}


.progress-bar {
    background-color: #00Aeef;
}


.services {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    border: 4px solid #00Aeef;
}

/* .contact-slideshow{
     display: flex;
     justify-content: center;
     font-family: 'Montserrat', sans-serif;
 } */

.contact-slide {
    width: 100vw;
    height: 80vh;
    background-image: url(/lunar/img/assets/Screenshot\ 2023-06-10\ at\ 12.30.37\ AM.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
}

.contact-caption {
    position: absolute;
    margin: 0 10%;
}

.contact-caption>h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 2em;
}

.service-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto;
    width: 80vw;
}

.service {
    color: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10%;
}

.service>h5:hover {
    color: #00Aeef;
    transition-duration: 0.4s;
}

/* .review {
    position: relative;
    margin: 5% 10%;
}

.test-heading {
    padding-bottom: 5%;
} */





















/* Responsiveness */
@media (min-width: 922px) {
    .header{
        height: 10vh;
    }
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        /* color: var(--gray); */
        color: #707070;

    }
    .hamb{
        display: none;
    }
}

@media (max-width: 921px) {
    .nav{
        height: 35vh;
    }
}