@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box
}

header {
    padding: 0px;
}

body {
    margin: 0;
    padding: 0;
}

.topheader_container {
    background-color: #f4f4f4;
    height: 40px;
    padding: 0px;
    /* margin-left: 40px;
    margin-right: 40px; */
}

.container {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 40px;

}

.details {
    overflow: hidden;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10%;
}

.details a {
    padding-right: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #707070;
    font-size: 12px;
    text-decoration: none;
}

.details i {
    padding: 0px 10px;
}
.socialmedia{
    margin-right: 10%;
}
.socialmedia i {
    font-size: 12px;
    padding: 0px 5px;
}

.navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 15px 100px;
    /* box-shadow: 0px 1px 2px #888888; */
    /* margin: 0px 20px; */
}

.navbar #logo{
    margin-left: 40px;
    text-decoration: none;
    color: #707070;
    font-size: 20px;
}


.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}


.menu li {
    margin: 0px 15px;
    display: inline-block;
    
}

.menu li a{
    font-family: 'Montserrat', sans-serif;
    color: #707070;
    text-decoration: none;
    text-transform: uppercase;
}

#bookbutton{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 10px 2%;
    background-color: #00Aeef;
    border-radius: 2px;
    font-size: 12px;
    color: white;
    margin-right: 10%;
}


/* .container>a{
    font-family: 'Montserrat', sans-serif;
    color: #707070;
} */

}




/* .fa-location-dot{
    color: #55acee;
} */

/* .fa-location-dot{
    color: #55acee;
} */
/* .topheader_container #container{
    margin-left: 80px;
    margin-right: 80px;
}
.topheader_container  #container .fa-location-dot{
    color: #55acee;
}

.topheader_container > #container > span > a{
    font-family: 'Montserrat', sans-serif;
    color: #707070;
} */